<%- include('partials/header') %>

<div class="content">
    <h1 class="hi">๐๐ป ุณูุงูุ <span><%= name %></span></h1>
<a href="/" class="sign-out">๐ช ุฎุฑูุฌ</a>

<h4 class="memo-link">ููฺฉ ููุดุชู ุงุฏฺฏุงุฑ ุจุฑุง ุดูุง:</h4>
<div class="copy">
    <button onclick="copyFunction()" id="copyButton">ฺฉูพ</button>
    <input type="text" value="<%= 'https://yadegari.alirezabaratian.com/' + username %>" id="theLink" readonly>
</div>

<% if (memos.length === 0) { %>
    <h6>ูููุฒ ุจุฑุง ุดูุง ุงุฏฺฏุงุฑ ููุดุชู ูุดุฏู!</h6>
<% } else { %>
    <h1 style="margin-bottom: 25px;">ุงุฏฺฏุงุฑโูุง</h1>
<% } %>

<% memos.forEach((memo) => { %>
    <div class="memo">
    <% if (memo.author === "ูุงุดูุงุณ") { %>
        <h6 class="memo-item"><span><%= memo.author %></span></h6>
    <% } else { %>
        <h6 class="memo-item">ุงุฒ ุทุฑู: <span><%= memo.author %></span></h6>
    <% } %>
        <h6 class="memo-item" id="content">ูุชู: <br> <span><%= memo.message %></span></h6>
        <h6 class="memo-item">ุชุงุฑุฎ: <span><%= memo.date %></span></h6>
    </div>
<% }) %>

<script>
    function copyFunction() {
    var theText = document.getElementById("theLink");
    theText.select();
    theText.setSelectionRange(0, 99999);
    document.execCommand("copy");
    document.querySelector(".memo-link").innerHTML = "ููฺฉ ุดูุง ฺฉูพ ุดุฏ!";
}
</script>
</div>

<footer class="memo-footer">ฺฉุงุฑ ุงุฒ ุนูุฑุถุง ุจุฑุงุชุงู <br> ุงุณููุฏ ฑดฐฒ</footer>

